<div class="row">
  <div class="col-xs-12 col-md-6 col-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div class="text-center" *ngIf="isLoading">
      <img src="./../../assets/images/Settings.gif">
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <ng-container *ngIf="!isLoading">
        <div class="form-group" >
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            minlength="5"
            name="password"
            required
            >
        </div>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid" >{{isLogin ? 'Login' : 'SignUp'}}</button> |
          <button class="btn btn-danger" type="button" (click)="onSwitchMode()">{{isLogin ? 'Switch to SignUp' : 'Switch to Login' }}</button>
        </div>
      </ng-container>
    </form>
  </div>
</div>
